body,html{
    margin: 0px;
    width: 100vw;
}
#body-header{
    background-image: url(header-image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    /* background-position: center; */
    width: 100vw;
    height: 65vh;
    opacity: 0.9; 
    background-attachment: fixed;
}
.horizontal-list{
    list-style: none;
    text-align: center;
    margin-top: 0vh;
    /* display: inline-block; */
    /* top: 2vh; */
}
.horizontal-list li{
    display: inline-block;
    margin: 2vh;
   
}
.horizontal-list li a{
    text-decoration: none;
    color: white;
    font-size: 1.7rem;
    font-family: sans-serif;
    transition: color 0.5s;
    
}
.horizontal-list li a:hover{
    color: #ba4bc9d3;
    border-bottom: 1px solid #ba4bc9d3;
}
#body-header h1{
    text-align: center;
    font-family: sans-serif;
    color: white;
    margin-top: 9vh;
    font-size: 5rem;
    font-weight: 900;
    margin-bottom: 0vh;

}
.social-media{
    text-align: center;
}
.social-media img{
    height: 4vh;
    width: 2vw;
    margin: 1vh;
    border-radius: 50%;
    transition: color 0.5s;
}
.social-media img:hover{
    box-shadow: 0px 0px 4px 4px white;
}

/* main section  */
#about{
    position: relative;
    /* display: inline-block; */
    justify-content: center;
}
#about img{
    /* width: 5vw; */
    /* height: 6vh; */
    width: 18vw;
    height: 36vh;
    border-radius: 50%;
    margin-top: -18vh;
    /* z-index: 0; */
}
.sasi{
    text-align: center;
    
}
.content{
    /* text-align: center; */
    text-align: center;
}
.content p{
    width: 75vw;
    display: inline-block;
    text-align: justify;
    font-size: 1.5rem;
    font-family: sans-serif;
    /* text-align: center; */
}
section{
    width: 100vw;
    display: flex;
    flex-direction: column;
}
section:nth-child(2n+1)
{
    /* background-color: white; */
    /* height: 50vh; */
}
section:nth-child(2n)
{
    background-color: #efefef;
    /* height: 50vh; */
}

/* Skills */

#skills{
    justify-content: space-around;
    align-items: center;
    margin-top: 8vh;
    height: 50vh;
    /* margin-bottom: 8vh; */
    /* align-content: space-around; */
}
.skill-title{
    /* align-items: center; */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75vw;
    padding: 2vh;
    /* margin: 5vh; */
}
.skill-title img{
    height: 7vh;
    width: 4vw;
}
.skill-title span{
    font-size: 3rem;
    margin-left: 2vh;
    font-family: sans-serif;
}
.skill-content{
    /* margin-top: 5vh; */
    display: flex;
    width: 75vw;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-around;
    min-height: 30vh;
}
.bar{
    height: 6vh;
    width: 17vw;
    background-color: lightgray;
    border-radius: 20px;
}
.bar-inner{
    /* width: 75%; */
    height: inherit;
    /* background-color: purple; */
    border-radius: 20px;
    display: flex;
    align-items: center;
}
.text-properties{
    font-family: sans-serif;
    color: white;
    margin: 12px;
}
.seventy-five{
    width:75%;
}
.fourty{
    width: 40%;
}
.fifty{
    width: 50%;
}
.seventy{
    width: 70%;
}
.eighty{
    width: 80%;
}
.ninty{
    width: 90%;
}
.ninty-five{
    width: 95%;
}
.bar-green-yellow{
    background-color: greenyellow;
}
.bar-yellow{
    background-color: teal;
}
.bar-blue{
    background-color: blueviolet;
}
.bar-orange{
    background-color: orange;
}
.bar-green{
    background-color: green;
}
.bar-pink{
    background-color: palevioletred;
}
.bar-red{
    background-color: indianred;
}
.bar-tomato{
    background-color: tomato;
}

/* Contact */

#contact{
    background: linear-gradient(to right top,#0707eb,rgb(75, 75, 160));
    width: 100vw;
    height: 70vh;
    align-items: center;
    justify-content: space-around;
}
.contact-title{
    display: flex;
    width: 75vw;
    justify-content: center;
    padding: 2vh;
    
}
.contact-title img{
    width: 3vw;
    height: 6vh;
}
.contact-title span{
    font-size: 3rem;
    font-family: sans-serif;
    color: white;
    display: flex;
    align-items: center;
    margin-left: 1vw;
}
.contact-content{
    width: 75vw;
    display: flex;
    justify-content: space-between;
}
.input{
    background-color: inherit;
    border: none;
    border-bottom: 2px solid white;
    height: 5vh;
    width: 35vw;
    margin-bottom: 4vh;
    /* border-radius: 5px; */
    font-size: 1.3rem;
}
#text-area{
    background-color: inherit;
    border: none;
    border-bottom: 2px solid white;
    height: 8vh;
    width: 35vw;
    margin-bottom: 4vh;
    /* border-radius: 5px; */
    font-size: 1.3rem;
}
#submit{
    background-color: inherit;
    font-family: sans-serif;
    font-size: 1rem;
    color: white;
    border: 3px solid white;
    padding: 1vh;
    font-weight: bolder;

}
.contact-content-left{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.contact-content-right{
    width: 35vw;
}
.normal-text{
    /* background-color: inherit; */
    font-family: sans-serif;
    font-size: 1rem;
    color: white;
    line-height: 1.5rem;
    word-spacing: 0.2rem;
    /* margin-bottom: 2px; */

}
.logo-text{
    position: relative;
    bottom: 8px;
    margin-left: 1vw;
}
.heading{
    /* background-color: inherit; */
    font-family: sans-serif;
    font-size: 2rem;
    color: white;
    margin-top: 0px;
}
.contact-content-right img{
    height: 3vh;
    width: 1.5vw;
}
